body{
	background-color: #2b3e50;
}
.DBTN{
	background-color: #2b3e50;
	color: #FFF;
	border: #FFF solid 1px;
	border-radius: 100px;
	padding: 15px;
	transition: 0.5s;
}
.DBTN:hover{
	background-color: #FFF;
	color: #2b3e50;
	border: #FFF solid 1px;
	border-radius: 100px;
	padding: 15px;
	transition: 0.5s;
}
.centre{
	text-align: center;
}
.a{
	position: relative;
	top: 120px;
}
.ia:link{
	color: #2b3e50;
	text-decoration: none;
}
.ia:visited{
	color: #2b3e50;
	text-decoration: none;
}
.ia:hover{
	color: #2b3e50;
	text-decoration: none;
}
.ia:active{
	color: #2b3e50;
	text-decoration: none;
}
::selection{
	background-color: rgba(0, 20, 86, 0.5);
	color: #FFF;
}
.aa:link{
	color: #FFF;
	text-decoration: none;
}
.aa:visited{
	color: #FFF;
	text-decoration: none;
}
.aa:hover{
	color: #2b3e50;
	text-decoration: none;
}
.aa:active{
	color: #2b3e50;
	text-decoration: none;
}
::selection{
	background-color: rgba(0, 20, 86, 0.5);
	color: #FFF;
}
